<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EBank</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.UserSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserDetails</display-name>
    <servlet-name>DisplayUserDetails</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.DisplayUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserDetails</servlet-name>
    <url-pattern>/DisplayUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRegisterServlet</display-name>
    <servlet-name>DisplayRegisterServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.DisplayRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRegisterServlet</servlet-name>
    <url-pattern>/DisplayRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailsServlet</display-name>
    <servlet-name>UserDetailsServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.UserDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailsServlet</servlet-name>
    <url-pattern>/UserDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelLoginServlet</display-name>
    <servlet-name>CancelLoginServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.CancelLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelLoginServlet</servlet-name>
    <url-pattern>/CancelLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonDetailsServlet</display-name>
    <servlet-name>PersonDetailsServlet</servlet-name>
    <servlet-class>com.slokam.ebank.servlet.PersonDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonDetailsServlet</servlet-name>
    <url-pattern>/PersonDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>